<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            Full-stack developer - C.B.Sistemi S.R.L., Mestre
            <!-- <a href="{{job.url}}" target="_blank">{{job.company}}</a> -->
          </div>
          <div class="job__time">Jan 2021 - Present</div>
        </div>
        <div class="job__position">
          Developed mobile and web medical applications used by users and
          specialized professionals. Primarily led the design and implementation
          of a new LIS (laboratory information system) that is now used by the
          largest medical laboratories in Italy.

          <div class="worked-on">
            <div class="worked-on__category__label">WHAT I WORKED ON:</div>
            <ul class="worked-on__list">
              <li class="worked-on__category__item">
                <b>web:</b> studiolab & studioweb, two new innovative web-based
                medical softwares (~ 100 000 lines, redux, chakraui, websockets)
              </li>
              <li class="worked-on__category__item">
                <b>mobile</b>: directed the development and publishing process
                of medium-sized ios and android applications
              </li>
              <li class="worked-on__category__item">
                <b>backend:</b> helped with the backend development process
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="job">
        <div class="time-place">
          <div class="job__company">
            Full-stack developer - Freelance
          </div>
          <div class="job__time">Jun 2019 - Jan 2022</div>
        </div>
        <div class="job__position">
          Worked on a range of freelance projects with different clients.
          Solutions included different software based on the requirements
          (mobile applications, websites, and CMS)

          <div class="worked-on">
            <div class="worked-on__category__label">WHAT I WORKED ON:</div>
            <ul class="worked-on__list">
              <li class="worked-on__category__item">
                <b>web:</b> static landing pages, custom cms solutions. (react,
                plain html)
              </li>
              <li class="worked-on__category__item">
                <b>mobile</b>: development and publishing of ios and android
                applications. directly interacted with the client to understand
                and implement requested features. (flutter, bloc, payments,
                structured architecture)
              </li>
              <li class="worked-on__category__item">
                <b>backend:</b> API development, database design, localization
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="job">
        <div class="time-place">
          <div class="job__company">
            Web Developer - Freelance
          </div>
          <div class="job__time">Jun 2018 - Jun 2019</div>
        </div>
        <div class="job__position">
          Designed and implemented web interfaces using HTML5, PHP, Javascript,
          and MySQL.
        </div>
      </div>
    </div>

    <a href="mailto:{{site.email}}" target="_blank" class="arrow-link"
      >Request my resume</a
    >
  </div>
</section>
