<section class="section featured-projects text-align-center">
  <!-- <div class="section__title">Featured Projects</div> -->
  <div class="">
    

    <div class="project registro">
      <figure class="project__pic phones">
        <a href="https://riccardocalligaro.github.io/registroelettronico-website/" target="_blank">
          <div _blank>
            <img src="img/featured/registro/multiple-phones.png" alt="registro elettronico screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="projects/school_register" target="_blank">School register</a>
        </div>
        <p>Unofficial application for the Spaggiari electronic register (Classeviva) developed by students for students.</p>
        <span class="project-used-item">Dart & Flutter</span>
        <span class="project-used-item">Clean architecture</span>
        <span class="project-used-item">Use of REST API</span>
        <span class="project-used-item">Charts</span>
        <span class="project-used-item">Internal SQL database</span>
        <span class="project-used-item">Streams & Functional programming</span>
        <span class="project-used-item">iOS & Android</span>

        <br>
        <a href="projects/school_register" class="read-btn">
         Read more
        </a>
        <a target='_blank' href="https://play.google.com/store/apps/details?id=com.riccardocalligaro.registro_elettronico" class="play-btn">
          Play Store
         </a>
      </figcaption>
    </div>

    <div class="project myroma">
      <figure class="project__pic phones">
        <a href="https://www.myroma-app.com/" target="_blank">
          <div _blank>
            <img src="img/featured/myroma/multiple-screens.png" alt="myroma screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.myroma-app.com/" target="_blank">MyRoma</a>
        </div>
        <p>A really complete and easy to use guide to Rome. With this app you can find all the most interesting attractions of the city, which you can visit in complete freedom thanks to the audio and images.</p>
        <span class="project-used-item">Dart & Flutter</span>
        <span class="project-used-item">Clean architecture</span>
        <span class="project-used-item">Use of REST API</span>
        <span class="project-used-item">Firebase</span>
        <span class="project-used-item">Notifications</span>
        <span class="project-used-item">Internal SQL database</span>
        <span class="project-used-item">iOS, Android & Web</span>
        <span class="project-used-item red-project">Closed source <span class="ec-lock"></span></span>
        <span class="project-used-item">For a client <span class="ec-bust-in-silhouette"></span></span>


        <br>
        <a href="projects/myroma/" class="read-btn">
         Read more
        </a>
        <a target='_blank' href="https://play.google.com/store/apps/details?id=com.myroma.myromaapp" class="play-btn">
          Play Store
        </a>
      </figcaption>
    </div>

    <!-- museo -->
    <div class="project museum">
      <figure class="project__pic phones">
        <a href="https://github.com/Saerlig-App-Development/museozuccante_client" target="_blank">
          <div _blank>
            <img src="img/featured/museum/multiple-phones.png" alt="museo zuccante screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="projects/zuccante-museum/" target="_blank">Museo Zuccante</a>
        </div>
        <p>Application for the ITIS Zuccante school museum</p>
        <span class="project-used-item">Dart & Flutter</span>
        <span class="project-used-item">Clean architecture</span>
        <span class="project-used-item">Streams & rxdart</span>
        <span class="project-used-item">REST API</span>
        <span class="project-used-item">Animations</span>
        <span class="project-used-item">Internal SQL database</span>
        <span class="project-used-item">iOS & Android</span>

        <br>
        <a href="projects/zuccante-museum/" class="read-btn">
         Read more
        </a>
      </figcaption>
    </div>

    <div class="project esame">
      <figure class="project__pic phones">
        <a href="https://www.myroma-app.com/" target="_blank">
          <div _blank>
            <img src="img/featured/esame/multiple-phones.png" alt="exam screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="projects/drivers-exam/" target="_blank">Drivers exam</a>
        </div>
        <p>Unofficial application for NCC car, motorcycle and animal exam.</p>
        <span class="project-used-item">Dart & Flutter</span>
        <span class="project-used-item">Clean architecture</span>
        <span class="project-used-item">Firebase </span>
        <span class="project-used-item">Notifications</span>
        <span class="project-used-item">Internal SQL database</span>
        <span class="project-used-item">iOS & Android</span>

        <br>
        <a href="projects/drivers-exam/" class="read-btn">
         Read more
        </a>
        <a target='_blank' href="https://play.google.com/store/apps/details?id=com.riccardocalligaro.esame_conducenti_veneto" class="play-btn">
          Play Store
        </a>
      </figcaption>
    </div>

    <div class="project lengua">
      <figure class="project__pic phones">
        <a href="https://github.com/riccardocalligaro/africa" target="_blank">
          <div _blank>
            <img src="img/featured/lengua/multiple-phones.png" alt="africa screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          Lengua Veneta
        </div>
        <p>Application for a client with flutter</p>
          <span class="project-used-item">Dart & Flutter</span>
          <span class="project-used-item">Firebase </span>
          <span class="project-used-item">Notifications</span>
          <span class="project-used-item">Share</span>
          <span class="project-used-item">iOS & Android</span>
          <span class="project-used-item red-project">Closed source <span class="ec-lock"></span></span>
          <span class="project-used-item">For a client <span class="ec-bust-in-silhouette"></span></span>
        <br>
        <a target='_blank' href="https://play.google.com/store/apps/details?id=com.inveneta.lenguavenetapp&hl=it&gl=US" class="play-btn">
          Play Store
         </a>
        <a target='_blank' href="https://apps.apple.com/it/app/lengua-veneta/id1536020961" class="play-btn">
          App Store
        </a>
      </figcaption>
    </div>

    <div class="project africa">
      <figure class="project__pic phones">
        <a href="https://github.com/riccardocalligaro/africa" target="_blank">
          <div _blank>
            <img src="img/featured/africa/multiple-phones.png" alt="africa screens">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="projects/africa/" target="_blank">Africa</a>
        </div>
        <p>Application developed with Swift+SwiftUI and the Combine Framework</p>
        <span class="project-used-item">Swift + SwiftUI</span>
        <span class="project-used-item">MVVM</span>
        <span class="project-used-item">Combine</span>
        <span class="project-used-item">REST API</span>
        <span class="project-used-item">iOS</span>

        <br>
        <a href="https://github.com/riccardocalligaro/africa" class="read-btn">
         Read more
        </a>
      </figcaption>
    </div>



    


  </div>
</section>
